</main>

<footer class="mainfooter">
  <div class="container">
    <p>© 2021 <a href="mailto:info@elizas-erben.de">Elizas Erben</a></p>
  </div>
</footer>
<!-- {{ if .Params.includes_code }}
<script src="/scripts/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{- end }}
{{- if .Params.includes_math }}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{{- end }}
{{- if .Params.includes_video }}
<script src="/scripts/jquery.js"></script>
<script src="/scripts/fitvids.js"></script>
<script>
(function ($, undefined) {
  "use strict";
  var $document = $(document);
  $document.ready(function () {
    var $postContent = $(".post-content");
    $postContent.fitVids();
  });
})(jQuery);
</script>
{{- end }} -->

</body>
</html>
